<div class="container-fluid" style="background-color: #161616;" id="cualidades">


    <div class="container" style="background-color: #161616;">
        <p class="container-title">Las cualidades<br>Que me enorgullecen</p>

        <div class="gradient-cards">
            <div class="card">
                <div class="container-card bg-green-box">
                    <img width="80" height="80" src="./cucumber-svgrepo-com.svg">

                    <p class="card-title">Cero videos sin pepinos</p>
                    <p class="card-description">¡A nuestros clientes les encanta el pepino duro y grueso!</p>
                </div>
            </div>

            <div class="card">
                <div class="container-card bg-white-box">
                    <img width="80" height="80" src="./underpants-underwear-svgrepo-com.svg">

                    <p class="card-title">Sin Pantalones</p>
                    <p class="card-description">¡Nuestros clientes están maravillados por la flata de pantalones!</p>
                </div>
            </div>

            <div class="card">
                <div class="container-card bg-yellow-box">
                    <img width="80" height="80" src="./milk-svgrepo-com.svg">

                    <p class="card-title">La Lechosa</p>
                    <p class="card-description">¡La leche es un factor fundamental en el contento de nuestros clientes!
                       <br> Sobretodo cuando se la damos en la cara.</p>
                </div>
            </div>

            <div class="card">
                <div class="container-card bg-blue-box">
                    <img width="80" height="80" src="./boiling-boiler-svgrepo-com.svg">

                    <p class="card-title">Termotanque Lechoso</p>
                    <p class="card-description">¡A nuestros clientes les encanta ver el termotanque de leche bien cargado!</p>
                </div>
            </div>
        </div>
    </div>
</div>