<section class="dark" id="misVideos">
	<div class="container py-4">
		<h1 class="h1 text-center text-white" id="pageHeaderTitle">Mis Videos</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="https://www.youtube.com/watch?v=DaRes1TR3XQ">
				<img class="postcard__img" src="./video1.webp" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="https://www.youtube.com/watch?v=DaRes1TR3XQ">TE PAGO si hacés ESTA web (no es chiste).</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>20 Nov, 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Video</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>8 mins. (Te ponen 2 veces en 4)</li>
					<li class="tag__item play blue">
						<a href="https://www.youtube.com/watch?v=DaRes1TR3XQ"><i class="fas fa-play mr-2"></i>Ver Video</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="https://www.youtube.com/watch?v=YQfRVo5UwOM">
				<img class="postcard__img" src="./video2.webp" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="https://www.youtube.com/watch?v=YQfRVo5UwOM">Cómo estudiar (pero bien).</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>24 Oct, 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Video</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>10 mins.</li>
					<li class="tag__item play red">
						<a href="https://www.youtube.com/watch?v=YQfRVo5UwOM"><i class="fas fa-play mr-2"></i>Ver Video</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="https://www.youtube.com/watch?v=FMfLfYus6Yc">
				<img class="postcard__img" src="./video3.webp" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="https://www.youtube.com/watch?v=FMfLfYus6Yc">No seas tan programador.</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>22 Sept, 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Video</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>4 mins (en 4 te ponen).</li>
					<li class="tag__item play green">
						<a href="https://www.youtube.com/watch?v=FMfLfYus6Yc"><i class="fas fa-play mr-2"></i>Ver Video</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<a class="postcard__img_link" href="https://www.youtube.com/watch?v=o_s6Q-teA6U">
				<img class="postcard__img" src="./video4.webp" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="https://www.youtube.com/watch?v=o_s6Q-teA6U">Hoy es SÁBADO y este video lo sabe.</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>30 Jul, 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Video</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>8 Mins (Te ponen 2 veces en 4).</li>
					<li class="tag__item play yellow">
						<a href="https://www.youtube.com/watch?v=o_s6Q-teA6U"><i class="fas fa-play mr-2"></i>Ver Video</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>